.container {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px;
  margin-top: 10px;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
}

.bugIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.debugTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.debugTitle h3,
hr {
  margin: 0;
}

/* Terminal wrapper */
.terminal {
  flex: 1;
  background-color: #1e1e1e;
  color: #dcdada;
  border-radius: 5px;
  overflow: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px; 
}

/* Output lines */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
}

/* History output */
.consoleLine {
  text-align: left;
  word-break: break-word;
  margin: 0;
  line-height: 1.2;
}

.inputLine {
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.2;
  white-space: pre;
}

.displayedWrapper {
  display: flex;
  align-items: center;
  min-height: 1.2em; 
}

.displayedInput {
  color: #ffffff;
  font-family: monospace;
  font-size: 14px;
  white-space: pre; 
}

.cursor {
  width: 8px;
  height: 1.1em;
  background-color: white;
  animation: blink 1.5s steps(1) infinite;
  display: inline-block;
}

.hiddenInput {
  position: absolute;
  left: -9999px; /* keep the input box hidden so that its not in the way */
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}