.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    background: #858585;
    padding: 10px;
}

/* Container for all the metrics in the second section */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #535353;
    border-radius: 24px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
  }


/* Filter button/dropdown css styling*/
.filter{
    width: 20rem;
    margin-right: 10px;
}

.headerSection h1{
    color: #ffffff;
    font-size: 80px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* Section for progress bar items – uses a flexible grid */
.section {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background: #858585;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    overflow-y: hidden;
}

/* Headings inside .section */
.section h1 { 
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}

.listContainer {
    grid: 1;
    grid-row: span 2;
    width: auto;
    border-radius: 24px;
    background: #535353;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto; 
    overflow-x: hidden;
    box-sizing: border-box;
}

/* section 2/ or the pipeline and barchart section */
.section2 {
    height: 40vh;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background: #858585;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.pipelineContainer {
    background: #535353;
    border-radius: 20px;
    height: 350px;
    width: auto;
    overflow-y: auto; /* <--- Enables scroll */
    padding: 1rem;
    height: 93%;

  }

  .barChartContainer {
    background: #535353;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .errorChart {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
  }