/* CSS file for the numeric card component */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .label {
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 600;
  }
  
  .value {
    margin-top: 15px;
    font-size: clamp(1rem, 8vw, 100px);
    font-weight: bold;
    color: #000000;
  }