.container {
  width: 100%;
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  box-sizing: border-box;
}

.logContent {
  height: 26vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.title {
  text-align: center;
  margin: 0 0 8px 4px;
  font-weight: bold;
  font-size: 16px;
}

.logLine {
  white-space: pre-wrap;
  overflow-x: auto;
  padding: 2px 0;
  text-align: left;
  line-height: 1.3; /* Even out the spacing between lines do that emojis do not mess up the gaps */
}

/* Color classes */
.success {
  color: #04a447; /* Green */
}

.error {
  color: #e74c3c; /* Red */
}

.warning {
  color: #b08d03; /* Yellow */
}

.info {
  color: #3498db; 
}

.default {
  color: #000000; /* Black */
}